<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  {% load static %}
  <link rel="icon"  type="image/x-icon" href ="{% static 'polls/icon.png' %}" > 
  <link rel="stylesheet" type="text/css" href="{% static 'polls/base.css' %}">
</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
