{% extends 'polls/base.html' %}

{% block title %}Főnök{% endblock %}

{% block content %}
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/boss.css' %}">
    </head>

    <h1>A főnök oldala</h1>
        <li><a href="/waiter/new_waiter">Új <b>pincér</b><br> felvétele</a></li>
        <li><a href="/waiter/new_table">Új <b>asztal</b><br> felvétele</a></li>
        <li><a href="/waiter/new_product">Új <b>termék</b><br> felvétele</a></li>
        <br><br>
        <li><a href="/waiter/waiter_list"><b>Pincérek</b><br> listája</a></li>
        <li><a href="/waiter/table_list"><b>Asztalok</b><br> listája</a></li>
        <li><a href="/waiter/product_list"><b>Termékek</b><br> listája</a></li>
        <br><br>
        <li><a href="/waiter/kitchen_password"><b>Konyha</b> jelszavának módosítása</a></li>
        <li><a href="/waiter/boss_password"><b>Főnök</b> jelszavának módosítása</a></li>
    <p class="back"><a href="/waiter/"><b>Kijelentkezés</b></a></p>
{% endblock %}
