{% if latest_waiter_list %}
    <ul>
    {% for waiter in latest_waiter_list %}
        <li><a href="/waiter/{{ waiter.id }}/">{{ waiter.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No waiters are available.</p>
{% endif %}