{% extends 'polls/base.html' %}

{% block title %}Konyha{% endblock %}

{% block content %}
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/kitchen.css' %}">
    </head>

    <h1>A konyha oldala</h1>
    <div> 
    {% for order in latest_orders_list %}
        {% if order.status == status%}
            <li><a href="/waiter/kitchen/{{ order.id }}">{{ order.number }}. számú<br> rendelés</a></li>  
        {% endif %}
    {% endfor %}
    </div> 
    <p class="back"><a href="/waiter/"><b>Kijelentkezés</b></a></p>
{% endblock %}
