{% extends 'polls/base.html' %}

{% block title %}Konyha jelszavának módosítása{% endblock %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/kitchen_password.css' %}">
</head>

    <h1>Konyha jelszavának módosítása</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="password">Konyha jelszava:</label><br>
        <input type="text" id="password" name="password" value="{{ kitchen.password }}">
        </br></br>
        <input type="submit" value="Mentés">
    </form>
    <p class="back"><a href="/waiter/boss">Vissza a főnök oldalához</a></p>
{% endblock %}
