{% extends 'polls/base.html' %}

{% block title %}Bejelentkezés{% endblock %}

{% block content %}
<head>
    <link rel = "icon" href ="media/icon.png"  type = "image/x-icon">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/login.css' %}">
</head>
<body>
    <h1>Bejelentkezés</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Bejelentkezés">
    </form>
</body>
{% endblock %}
