{% extends 'polls/base.html' %}

{% block title %}Új pincér felvétele{% endblock %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/new_waiter.css' %}">
</head>
<h1>Új pincér felvétele</h1>
<form action="" method="post">
    {% csrf_token %}
    <label for="name">Pincér neve:</label><br>
    <input type="text" id="name" name="name" value="Jóska"><br><br>
    <label for="password">Pincér jelszava:</label><br>
    <input type="text" id="password" name="password" value="saláta"><br><br>
    <input type="submit" value="Pincér felvétele">
</form>
<p class="back"><a href="/waiter/boss">Vissza a főnök oldalához</a></p>
{% endblock %}
