{% extends 'polls/base.html' %}

{% block title %}Új asztal felvétele{% endblock %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/new_table.css' %}">
</head>

<h1>Új asztal felvétele</h1>
<form action="" method="post">
    {% csrf_token %}
    <label for="name">Asztal neve:</label><br>
    <input type="text" id="name" name="name" value="13-as asztal"><br><br>
    <p>Asztalért felelős pincér:</p>
    {% for waiter in latest_waiter_list %}
            <div><input type="radio" name="radio" id="choice{{ forloop.counter }}" value="{{ waiter.id }}" checked="checked">
            <label for="choice{{ forloop.counter }}">{{ waiter.name }}</label></div>
    {% endfor %}
    <br>
    <input type="submit" value="Asztal felvétele">
</form>
<p class="back"><a href="/waiter/boss">Vissza a főnök oldalához</a></p>
{% endblock %}
