{% extends 'polls/base.html' %}

{% block title %}Új termék felvétele{% endblock %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/new_product.css' %}">
</head>

<h1>Új termék felvétele</h1>
<form action="" method="post">
    {% csrf_token %}
    <label for="name">Termék neve:</label><br>
    <input type="text" id="name" name="name" value="sóska"><br><br>
    <label for="price">Termék ára:</label><br>
    <input type="number" id="price" name="price" value="300" min="100"><br><br>
    <input type="submit" value="Termék felvétele">
</form>
<p class="back"><a href="/waiter/boss">Vissza a főnök oldalához</a></p>
{% endblock %}
