{% extends 'polls/base.html' %}

{% block title %}Sikertelen bejelentkezés{% endblock %}

{% block content %}
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/notvalid.css' %}">
  </head>

  <h1>Sikertelen bejelentkezés</h1>
  <p><a href="/waiter/">Próbálja újra!</a></p>
{% endblock %}
