{% extends 'polls/base.html' %}

{% block title %} {{ order.number }}. számú rendelés{% endblock %}

{% block content %}
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/order.css' %}">
    </head>

    <h1>{{ order.number }}. rendelés</h1>
    <div>
    {% if order.status == 1 %}
        <p>Rendelés státusza: <span>leadott</span></p>
    {% endif %}
    {% if order.status == 2 %}
        <p>Rendelés státusza: <span>elkészült</span></p>
    {% endif %}
    {% if order.status == 3 %}
        <p>Rendelés státusza: <span>kivitt</span></p>
    {% endif %}
    {% if order.status == 4 %}
        <p>Rendelés státusza: <span>kifizetett</span></p>
    {% endif %}
    <p>Pincér: <span>{{ order.waiter.name }}</span></p>
    <p>Asztal: <span>{{ order.table.name }}</span></p>
    {% for product in latest_component_list %}
        {% if product.order.id == order.id %}
        <div class="product">
        <p>Terméknév: <span>{{ product.product.name }}</span></p>
        <p>Termék ára: <span>{{ product.product.price }}</span></p>
        <p>Termék darabszáma: <span>{{ product.pieces }}</span></p>
        </div>
        {% endif %}
    {% endfor %}
    <p>Rendelés összege: <span>{{ total }}</span></p>
    {% if order.status == 1 and is_kitchen == True %}
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" value="Rendelés elkészült">
        </form>
    {% endif %}
    {% if order.status == 1 and is_kitchen != True %}
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" value="Rendelés törlése">
        </form>
    {% endif %}
    {% if order.status == 2 %}
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" value="Rendelés kivitele">
        </form>
    {% endif %}
    {% if order.status == 3 %}
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" value="Rendelés kifizetése">
        </form>
    {% endif %}
    </div>
    
    {% if is_kitchen == True %}
        <p class="back"><a href="/waiter/kitchen/">Vissza konyha oldalához</a></p>
    {% endif %}
    {% if is_kitchen != True %}
        <p class="back"><a href="/waiter/{{ waiter_id }}/">Vissza pincér oldalához</a></p>
    {% endif %}
{% endblock %}
