{% extends 'polls/base.html' %}

{% block title %}Rendelés{% endblock %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/ordering.css' %}">
</head>

<h1>Rendelés</h1>
<form action="" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>Asztal</h1></legend>
        {% for table in latest_table_list %}
            {% if table.waiter.id == waiter_id %}
            <input type="radio" name="radio" id="choice{{ forloop.counter }}" value="{{ table.id }}" checked="checked">
            <label for="choice{{ forloop.counter }}">Asztal neve: {{ table.name }}</label><br>
            {% endif %}
        {% endfor %}
    </fieldset>
    <br>
    <fieldset>
        <legend><h1>Termékek</h1></legend>
        {% for product in latest_product_list %}
            <label for="choice{{ forloop.counter }}">Terméknév: <b>{{ product.name }}</b>, Ár: {{ product.price }}, </label> 
            
            <label for="choice{{ forloop.counter }}">Darabszám: </label>
            <input type="number" name="number{{ forloop.counter }}" id="choice{{ forloop.counter }}" value="{{ choice.id }}" max="10" min="1"><br>
        {% endfor %}
    </fieldset>
    <br>
    <input type="submit" value="Megrendel">
</form>
<p class="back"><a href="/waiter/{{ waiter_id }}">Vissza a pincér oldalához</a></p>
{% endblock %}
