{% extends 'polls/base.html' %}

{% block title %}{{ name }} rendelések{% endblock %}

{% block content %}
    <h1>{{ name }} rendelések</h1>
    {% for order in latest_orders_list %}
        {% if order.status == status and order.waiter.id == waiter_id %}
        <li><a href="/waiter/{{ waiter_id }}/{{ order.id }}">{{ order.number }}. számú rendelés</a></li>
        {% endif %}
    {% endfor %}
    <p><a href="/waiter/{{ waiter_id }}">Vissza pincér oldalához</a></p>
{% endblock %}
