{% extends 'polls/base.html' %}

{% block title %}{{product.name}} szerkesztése{% endblock %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/product_update.css' %}">
</head>

    <h1><span>{{product.name}}</span> szerkesztése</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="name">Termék neve:</label><br>
        <input type="text" id="name" name="name" value="{{ product.name }}"><br><br>
        <label for="password">Termék ára:</label><br>
        <input type="number" id="price" name="price" value="{{ product.price }}" min="100"><br><br>
        <label for="delete">Termék <b>törlése</b></label>
        <input type="checkbox" name="delete" id="delete" value="delete">
        </br></br>
        <input type="submit" value="Termék mentése">
    </form>
    <p class="back"><a href="/waiter/product_list">Vissza a termékek listájához</a></p>
{% endblock %}
