{% extends 'polls/base.html' %}

{% block title %}Termékek listája{% endblock %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/product_list.css' %}">
</head>

    <h1>Termékek listája</h1>
    <div>
    {% for product in latest_product_list %}
        <li><a href="/waiter/product/{{ product.id }}">{{ product.name }}</a></li>
    {% endfor %}
    </div>
    <p><a href="/waiter/boss">Vissza a főnök oldalához</a></p>
{% endblock %}
