{% extends 'polls/base.html' %}

{% block title %}{{table.name}} szerkesztése{% endblock %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/table_update.css' %}">
</head>

    <h1>{{table.name}} szerkesztése</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="name">Asztal neve:</label><br>
        <input type="text" id="name" name="name" value="{{ table.name }}"><br><br>
        <p>Asztal pincére:</p>
        {% for waiter in latest_waiter_list %}
            {% if table.waiter.id == waiter.id %}
            <div><input type="radio" name="radio" id="choice{{ forloop.counter }}" value="{{ waiter.id }}" checked="checked">
            <label for="choice{{ forloop.counter }}">{{ waiter.name }}</label></div>
            {% endif %}
            {% if table.waiter.name != waiter.name %}
            <div><input type="radio" name="radio" id="choice{{ forloop.counter }}" value="{{ waiter.id }}">
            <label for="choice{{ forloop.counter }}">{{ waiter.name }}</label></div>
            {% endif %}
        {% endfor %}
        <br>
        <label for="delete">Asztal <b>törlése</b></label>
        <input type="checkbox" name="delete" id="delete" value="delete">
        </br></br>
        <input type="submit" value="Asztal mentése">
    </form>
    <p class="back"><a href="/waiter/table_list">Vissza az asztalok listájához</a></p>
{% endblock %}
