{% extends 'polls/base.html' %}

{% block title %}Asztalok listája{% endblock %}

{% block content %}
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/table_list.css' %}">
    </head>

    <h1>Asztalok listája</h1>
    <div>
    {% for table in latest_table_list %}
        <li><a href="/waiter/table/{{ table.id }}">{{ table.name }}</a></li>
    {% endfor %}
    </div>
    <p><a href="/waiter/boss">Vissza a főnök oldalához</a></p>
{% endblock %}
