{% extends 'polls/base.html' %}

{% block title %}Pincérek listája{% endblock %}

{% block content %}
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/waiter_list.css' %}">
    </head>

    <h1>Pincérek listája</h1>
    <div> 
    {% for waiter in latest_waiter_list %}
        <li><a href="/waiter/waiter/{{ waiter.id }}">{{ waiter.name }}</a></li>
    {% endfor %}
    </div>
    <p><a href="/waiter/boss">Vissza a főnök oldalához</a></p>
{% endblock %}
