{% extends 'polls/base.html' %}

{% block title %}{{waiter.name}} szerkesztése{% endblock %}

{% block content %}
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/waiter_update.css' %}">
</head>

    <h1>{{waiter.name}} szerkesztése</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="name">Pincér neve:</label><br>
        <input type="text" id="name" name="name" value="{{ waiter.name }}"><br><br>
        <label for="password">Pincér jelszava:</label><br>
        <input type="text" id="password" name="password" value="{{ waiter.password }}"><br><br>
        <label for="delete">Pincér <b>törlése</b></label>
        <input type="checkbox" name="delete" id="delete" value="delete">
        </br></br>
        <input type="submit" value="Pincér mentése">
    </form>
    <p class="back"><a href="/waiter/waiter_list">Vissza a pincérek listájához</a></p>
{% endblock %}
