{% extends 'polls/base.html' %}

{% block title %}{{name}} pincér{% endblock %}

{% block content %}
<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'polls/waiter.css' %}">
</head>

<h1>{{name}} oldala</h1>
    <p class="rendelés"><a href="/waiter/{{ waiter_id }}/ordering">Rendelés felvétel</a></p>
      <div class="1">
          <p>Leadott rendelések</p>
          {% for order in latest_order_list %}
              {% if order.status == 1 and order.waiter.id == waiter_id %}
                  <li><a href="/waiter/{{ waiter_id }}/{{ order.id }}">{{ order.number }}. számú<br> rendelés</a></li>
              {% endif %}
          {% endfor %}
      </div>
      <div class="2">
          <p>Elkészült rendelések</p>
          {% for order in latest_order_list %}
              {% if order.status == 2 and order.waiter.id == waiter_id %}
                  <li><a href="/waiter/{{ waiter_id }}/{{ order.id }}">{{ order.number }}. számú<br> rendelés</a></li>
              {% endif %}
          {% endfor %}
      </div>
      <div class="3">
          <p>Kivitt rendelések</p>
          {% for order in latest_order_list %}
              {% if order.status == 3 and order.waiter.id == waiter_id %}
                  <li><a href="/waiter/{{ waiter_id }}/{{ order.id }}">{{ order.number }}. számú<br> rendelés</a></li>
              {% endif %}
          {% endfor %}
      </div>
<br>
<p><a href="/waiter/"><b>Kijelentkezés</b></a></p>
{% endblock %}
