html {
    background-color: lightyellow;
}

body {
  background-color: aliceblue;
  width: 60%;
  position: relative;
  left: 20%;
  right: 20%;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 40px;
}
  
h1 {
    color: rgb(0, 153, 255);
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px rgb(189, 189, 189);
}
  
p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
}

a {
    font-family: verdana;
    font-size: 20px;
    color: rgb(0, 153, 255);
    text-decoration: none;
}
