p[class="back"] {
    margin: auto;
    margin-top: 30px;
    padding: 5px;
}

p a {
    font-size: 35px;
}

a[href="/waiter/"]:hover {
    color: rgb(103, 225, 255);
}

li {
    
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid rgb(0, 153, 255);
    border-radius: 10px;
    width: 25%;
    left: 20%;
    text-align: center;
    list-style-type: none;
    background-color: white
}

li a {
    font-size: 25px;
}

li a:hover {
    font-weight: bold;
}

li a:hover b{
    color:rgb(103, 225, 255);
}
