body {
    position: relative;
    margin-top: 300px;
    margin-bottom: 300px;
    left: 30%;
    right: 30%;
    background-color:aliceblue;
    width: 40%;
    border-radius: 40px;
    padding-bottom: 100px;
}

input[type="submit"] {
    position: absolute;
    left: 35%;
    right: 35%;
    font-size: 20px;
    font-family: verdana;
    color: white;
    background-color: rgb(0, 153, 255);
    border-radius: 12px;
    height: 35px;
    border: 1px solid rgb(0, 153, 255);
}

input[type="submit"]:hover {
    font-weight: bold;
}
