div {
    background-color: white;
    width: 60%;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: auto;
    border-radius: 40px;
}

div p {
    text-align: left;
    position: relative;
    left: 25%;
    right: 25%;
}

input {
    position: relative;
    left: 30%;
    right: 30%;
    font-size: 20px;
    color: white;
    background-color: rgb(0, 153, 255);
    border: 1px solid rgb(0, 153, 255);
    border-radius: 30px;
    font-family: verdana;
    padding: 5px;
    width: 50%;
}

input:hover {
    font-weight: bold;
}

span {
    color: rgb(0, 153, 255);
    font-weight: bold;
}

p[class="back"] {
    margin: auto;
    margin-top: 30px;
    width: 25%;
    border: 1px solid rgb(0, 153, 255);
    background-color: rgb(0, 153, 255);
    border-radius: 20px;
    padding: 5px;
    color: white;
}

p a {
    color: white;
}

p a:hover {
    font-weight: bold;
}

div[class="product"] {
    border: 1px solid rgb(0, 153, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
}

div[class="product"] p {
    left: 5%;
}
