h1 {
    margin: 10px;
}

fieldset {
    width: 60%;
    position: relative;
    left: 17%;
    right: 17%;
    background-color: white;
    border: 3px solid rgb(0, 153, 255);
    border-radius: 20px;
}

label {
    font-size: 20px;
    line-height: 2 !important;
}

input[type="submit"]{
    position: relative;
    left: 38%;
    right: 40%;
    width: 200px;
    height: 50px;
    font-size: 30px;
    font-family: verdana;
    color: white;
    background-color: rgb(0, 153, 255);
    border: 1px solid rgb(0, 153, 255);
    border-radius: 20px;
}

input[type="submit"]:hover{
    font-size: 30px;
    font-weight: bold;
    height: 55px;
}

p[class="back"] {
    margin: auto;
    margin-top: 30px;
    width: 25%;
    border: 1px solid rgb(0, 153, 255);
    background-color: rgb(0, 153, 255);
    border-radius: 20px;
    padding: 5px;
}

p a {
    color: white;
}

p a:hover {
    font-weight: bold;
}
