p[class="back"] {
    margin: auto;
    margin-top: 30px;
    width: 25%;
    border: 1px solid rgb(0, 153, 255);
    background-color: rgb(0, 153, 255);
    border-radius: 20px;
    padding: 5px;
}

p a {
    color: white;
}

p a:hover {
    font-weight: bold;
}

form {
    position: relative;
    left: 35%;
    right: 35%;
    padding: 30px;
    font-size: 25px;
    text-align: center;
    background-color: white;
    width: 25%;
    border-radius: 40px;
    color:rgb(0, 153, 255);
    font-weight: bold;
}

form p {
    font-size: 25px;
    margin: 0px;
}

input {
    font-size: 20px;
    width: 70%;
}

input[type="submit"] {
    background-color: lightyellow;
    font-family: Verdana;
    color:rgb(0, 153, 255);
    border: 2px solid rgb(0, 153, 255);
    padding: 10px;
    border-radius: 20px;
}

input[type="submit"]:hover {
    font-weight: bold;
}

div {
    text-align: left;
    margin: auto;
    color: black;
    font-weight: normal;
}

div input {
    width: 20%;
}

form b {
    color: red;
}

input[type="checkbox"]{
    width: 20%;
}
