p {
    margin: auto;
    margin-top: 30px;
    width: 25%;
    border: 1px solid rgb(0, 153, 255);
    background-color: rgb(0, 153, 255);
    border-radius: 20px;
    padding: 5px;
    color: white;
}

p a {
    color: white;
}

p a:hover {
    font-weight: bold;
}

div {
    columns: 3;
}

li {
    margin: auto;
    margin-bottom: 600px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 2px solid rgb(0, 153, 255);
    border-radius: 10px;
    width: 50%;
    left: 20%;
    text-align: center;
    list-style-type: none;
    background-color: white;
}

li a:hover {
    font-weight: bold;
}
