body {
    min-height: 850px;
  }

  a[href="/waiter/"] {
    font-size: 30px;
    left: 40%;
    right: 40%;
    position: absolute;
    top: 90%;
  }

  a[href="/waiter/"]:hover {
    color: rgb(103, 225, 255);
  }

  p[class="rendelés"] {
    margin: auto;
    width: 25%;
    min-height: 40px;
    border: 1px solid rgb(0, 153, 255);
    background-color: rgb(0, 153, 255);
    border-radius: 20px;
    padding-top: 5px;
  }

  p[class="rendelés"] a {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }

  p[class="rendelés"] a:hover {
    color: rgb(103, 225, 255);
  }

  div[class="1"] {
    margin-top: 40px;
    position: absolute;
    height: 65%;
    left: 5%;
    width: 27%;
    top: 20%;
    background-color: white;
    overflow-y: auto;
    border-radius: 40px;
  }

  div[class="2"] {
    margin-top: 40px;
    position: absolute;
    height: 65%;
    left: 36%;
    width: 27%;
    top: 20%;
    background-color: white;
    overflow-y: auto;
    border-radius: 40px;
  }

  div[class="3"] {
    margin-top: 40px;
    position: absolute;
    height: 65%;
    left: 68%;
    width: 27%;
    top: 20%;
    background-color: white;
    overflow-y: auto;
    border-radius: 40px;
  }

  div p {
    position: relative;
    background-color: rgb(0, 153, 255);
    width: 80%;
    left: 10%;
    min-height: 30px;
    border: 1px solid rgb(0, 153, 255);
    background-color: rgb(0, 153, 255);
    border-radius: 20px;
    padding-top: 5px;
    color: white;
    font-weight: bold;
  }

  div p a {
    color: white;
    font-weight: bold;
  }

  div li {
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 2px solid rgb(0, 153, 255);
    border-radius: 10px;
    width: 50%;
    left: 20%;
    text-align: center;
    list-style-type: none;
  }

  li a:hover {
    font-weight: bold;
  }

  @media screen and (max-height: 800px) {
    div[class="1"] {
      margin-top: 60px;
    }

    div[class="2"] {
      margin-top: 60px;
    }

    div[class="3"] {
      margin-top: 60px;
    }
  }
